venv/
.env/
.env
myenv/
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/
*.log
*.sqlite3
node_modules/
dist/
build/
*.egg-info/
coverage/
htmlcov/
notebooks/data/X.npy

dataset/


*.wav


*.npy

notebooks/models/
